.PostGroup .flickity-rtl {
    .flickity-prev-next-button.next {
        transform: translateY(-75px);
    }
    .flickity-prev-next-button.previous {
        transform: translateY(-75px);
    }
}
.row-list {
    direction: rtl;

    .row-title {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        margin-bottom: 16px;
        padding: 0 20px;
        align-items: center;
        margin-top: 40px;

        h3 {
            font-size: 18px;
        }

        a {
            font: 12px Shabnam;
            color: white;
            display: flex;
            align-items: center;
            margin-right: 16px;
            text-decoration: none;
            opacity: 0;
            transition: opacity 0.4s;

            &:hover {
                opacity: 1;
            }

            svg {
                fill: white;
                width: 20px;
                height: 30px;
                margin-right: 5px;
            }
        }
    }

    .list-container {
        width: 100%;
        overflow: hidden;
        padding: 0 24px 5px 5px;

        & > .list {
            display: flex;
            flex-direction: row;
            align-items: stretch;

            .flickity-viewport {
                overflow: inherit;
            }
        }
    }
}

.Advertisement .list-container {
    margin-bottom: 65px;
}
