@font-face {
  font-family: iran;
  src: url(../public/fonts/iransansx-regular.woff);
}

* {
  margin: 0;
  padding: 0;
  font-family: iran;

}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-decoration: none;
  font-family: iran;
}

body {
  background-color: #121212;
  font-family: iran;
}