@font-face {
  font-family: iran;
  src: url(../public/fonts/iransansx-regular.woff);
}

* {
  margin: 0;
  padding: 0;
  font-family: iran;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-decoration: none;
  font-family: iran;
  direction: rtl;
}
/* 1 */
:root {
  --font-color: #121212;
  --background-color: #fff;
  --link-color: cornflowerblue;
}

/* 2 */
[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #121212;
  --link-color: lightblue;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: iran;
}
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(90, 92, 105, 0.5);
  line-height: 46px;
}
.single {
  direction: rtl;

  .media-detail-latin-name {
    font: 14px iran;
    color: white;
    margin-bottom: 24px;
  }

  .media-detail-title {
    font: 14px iran;
    color: #aaaaaa;
    margin-bottom: 8px;
  }

  .media-detail-description {
    font: 14px iran;
    color: #aaaaaa;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .single-row {
    .detail-row.text-row,
    .detail-row.text-row a {
      font: 14px iran;
      color: white;
      margin-bottom: 16px;
    }
  }
}
