@font-face {
  font-family: iran;
  src: url(../public/fonts/iransansx-regular.woff);
}

* {
  margin: 0;
  padding: 0;
  font-family: iran;

}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-decoration: none;
  font-family: iran;
  direction: rtl;
}

body {
  background-color: #121212;
  font-family: iran;
}

.namess {
  color: #fff;
}

.single {
  direction: rtl;

  .media-detail-latin-name {
    font: 14px iran;
    color: white;
    margin-bottom: 24px;
  }

  .media-detail-title {
    font: 14px iran;
    color: #aaaaaa;
    margin-bottom: 8px;
  }

  .media-detail-description {
    font: 14px iran;
    color: #aaaaaa;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .single-row {

    .detail-row.text-row,
    .detail-row.text-row a {
      font: 14px iran;
      color: white;
      margin-bottom: 16px;
    }
  }
}